rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // TEST MODU: Herkese okuma/yazma izni (Prod'da kapatılacak)
    // Sorunun kaynağını anlamak için kuralları gevşetiyoruz.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
